.container {
	flex-direction: column;
}

.outer {
	padding: 15px;
	margin: 0 5px 5px 5px;
	border-radius: 5px;
	background-color: hsl(214.1, 51.9%, 90%);
}

.item {
	display: grid;
	grid-template-columns: repeat(3, minmax(2vw, 8vw));
	justify-content: center;
	text-align: center;
}

.item > span {
	flex: 1 1 auto;
	font-size: 0.8rem;
	overflow: scroll;
}