.container {
	flex-direction: column;
	padding: 25;
}

.outer {
}

.item {
	display: grid;
	color: white;
	grid-template-columns: repeat(3, minmax(3vw, 7vw));
	justify-content: center;
	text-align: center;
}

.item > span {
	flex: 1 1 auto;
	font-size: 0.8rem;
	overflow: scroll;
}