.web3 {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.container {
	display: grid;
	grid-template-columns: 75% auto;
	grid-column-gap: 10px;
}

.gameContainer {
	display: grid;
	grid-template-rows: minmax(20%, auto) minmax(60%, auto);
	grid-row-gap: 5%;
}
