.container {
	display: flex;
	flex-direction: column;
	margin: 10;
	padding: 10;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container div {
	width: auto;
}

@media (min-width: 768px) {
  .container {
    display: grid;
		grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  }
}
